<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.deguzman.pne">

    <uses-sdk tools:overrideLibrary="org.lucasr.twowayview, org.lucasr.twowayview.widget, jp.wasabeef.recyclerview" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PlantEase"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme, replace=android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".AddPlantActivity" />
        <activity android:name=".AddPlantInforActivity" />
        <activity android:name=".AddPlantPlot" />
        <activity android:name=".DisplayActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".TabFragment4" />
        <activity android:name=".AddPlantListAdapter" />
        <activity android:name=".AddPlantList" />
        <activity android:name=".AddingPlant" />
        <activity android:name=".AddPlantView" />
        <activity android:name=".LibraryView" />
        <activity
            android:name=".Library"
            android:theme="@style/AppTheme.Library" />
        <activity android:name=".Summary" />
        <activity android:name=".Loading"></activity>
    </application>

</manifest>